body {
    background-color: #212529;
    color: #b9b9b9;
    font-family: 'Courier New', Courier, monospace, bold;
}

.input-bl {
    background-color: #212529;
    color: #b9b9b9;
}

button {
    background-color: #212529;
    color: #b9b9b9;
}

card {
    background-color: #212529;
    color:#b9b9b9;
}

span {
    background-color: #212529;
    color: #b9b9b9;
}

.bg-dark {
    border-color: transparent;
    color: #b9b9b9;
}

.nav-link .btn{
    color: #b9b9b9;
    text-decoration: none;
}