{% extends "layout.html" %} 

{% block body %} 
<div class="card w-75 bg-dark" style="background-color:#212529; color:#b9b9b9;">
  <div class="card-body">
    <h5 class="card-title">INVITE PAGE</h5>
    <form action="/invite_success" method="POST">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-dark borderless" style="color:#b9b9b9;" id="team_id">Team ID</span>
        <input id="team" name="team" type="text" class="form-control input-bl" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-dark borderless" style="color:#b9b9b9;" id="user_id">USER ID</span>
        <input id="user" name="user" type="text" class="form-control input-bl" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <button type="submit" value="submit" class="btn btn-dark">Confirm</button>
    </form>
  </div>
</div>
{% endblock %}