{% extends "layout.html" %} 

{% block body %}
    <form method="post" action="/logged_in">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text input-bl bg-dark" style="color:#b9b9b9;" name="name" id="name">Name</span>
            <input type="text" class="form-control input-bl bg-dark" style="color:#b9b9b9;" name="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
      

        <button type="submit" class="btn btn-dark">Log In</button>
    </form>
{% endblock %}