{% extends "layout.html" %}

{% block body %} 

    <div>
        <h1>New Task</h1>
    </div>

    <form method="post" action="/new_task">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text bg-dark" id="task_name" style="color:#b9b9b9;">Name</span>
            <input name="title" type="text" class="form-control bg-dark" style="color:#b9b9b9;" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="bg-dark input-group-text" style="color:#b9b9b9;" id="task_beschreibung">Describtion</span>
            <input name="desc" type="text"  style="color:#b9b9b9;" class="form-control bg-dark" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text bg-dark" style="color:#b9b9b9;" id="task_deadline">Deadline</span>
            <input name="time" type="date" style="color:#b9b9b9;" class="form-control bg-dark" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text bg-dark" style="color:#b9b9b9;" id="task_priority">Priority</span>
            <input name="prio" type="number" style="color:#b9b9b9;" min="1" max="3" class="bg-dark form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <button type="submit" class="btn btn-dark">Create Task</button>
    </form>
{% endblock %}