{% extends "layout.html" %} 

{% block body %} 

<div class="accordion" id="accordionExample">
  {% for task in tasks %}
    <div class="accordion-item bg-dark">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button bg-dark " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h1><p style="color:#b9b9b9;">{{ task["Title"] }}</p></h1>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h3><p style="color:#b9b9b9;"></p>{{ task["Description"] }}</p></h3>
          <button type="button" class="btn btn-dark">Done</button>
        </div>
      </div>
    </div>
    {% endfor %}
    <button class="btn btn-dark"><a href="/new"> + </a></button>
  </div> 
{% endblock %} 