{% extends "layout.html" %} 

{% block body %} 

<div class="accordion" id="accordionExample">
  {% for task in tasks %}
    <div class="accordion-item bg-dark">
      <h2 class="accordion-header" id="heading{{ task['ID'] }}">
        <button class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ task['ID'] }}" aria-expanded="true" aria-controls="collapse{{ task['ID'] }}">
          <h1><p style="color:#b9b9b9;">{{ task["Title"] }}</p></h1>
        </button>
      </h2>
      <div id="collapse{{ task['ID'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ task['ID'] }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p style="color:#b9b9b9;"></p>{{ task["Description"] }}</p>
          <p>Deadline:  {{ task["Deadline"] }}</p>

          <form method="post" action="/done">
            <input type="hidden" name="status" value="{{ task.Id }}">
            <button type="submit" class="btn btn-dark">Done</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    <button class="btn btn-dark"><a href="/new" style="color:#b9b9b9; text-decoration:none;"> <h2> + </h2></a></button>
  </div> 
{% endblock %} 